div.powerConsumptionContainer {
    grid-area: powerConsumption;
}

div.powerConsumptionHigh, div.powerPricesHigh {
    color: $alarm-color;
}

div.powerConsumptionNormal, div.powerPricesNormal {
    color: $value-color;
}

div.powerConsumptionContainer table {
    width: 100%;
}
div.powerConsumptionContainer td {
    font-size: 1.1em;
    line-height: 1.3em;
}