div.powerPriceContainer {
    grid-area: powerPrice;


    .panel {
        max-width: 90%;
    }
    .priceChart {
        position: relative;
    }
}


div.powerConsumptionHigh, div.powerPricesHigh {
    color: $alarm-color;
}

div.powerConsumptionNormal, div.powerPricesNormal {
    color: $value-color;
}

div.powerConsumptionContainer {
    grid-area: powerConsumption;
    table {
        width: 100%;

        td {
            font-size: 1.2em;
            line-height: 1.3em;
        }
    }
}