$app-bgcolor: #404040;

$label-color: black;
$value-color: #3c3c3c;

$label-color-invert: #d3cbcb;

$button-bgcolor-gray1: #555555;
$button-bgcolor-gray2: #333333;

$temperature-plus-color: rgb(201, 13, 13);;
$temperature-minus-color: #085df6;

$closed-color: lime;
$open-color: red;

$light-on-color: yellow;
$light-off-color: #a6a6a6;

$clock-color: #d3cbcb;;