$app-bgcolor: #404040;

$label-color: darkgray;
$value-color: white;

$button-bgcolor-gray1: #555555;
$button-bgcolor-gray2: #333333;


$temperature-plus-color: coral;
$temperature-minus-color: #B0E0E6;