@import './colors.scss';
@import '../components/LedPanel/LedPanel.scss';
@import '../components/KeyPanel/KeyPanel.scss';
@import '../components/Leds/Led.scss';
@import '../components/GarbagePlan/GarbagePlan.scss';
@import '../components/PowerConsumption/PowerConsumption.scss';

* {
   outline: none;
}
body {
   background-color: $app-bgcolor;
   font-family: Consolas, monaco, monospace;
}

.main {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-areas: 
      "outdoor outdoor outdoor garbagePlan garbagePlan garbagePlan keypanel"
      "indoor indoor indoor powerConsumption powerConsumption powerConsumption ledpanel"
      ". . . . . clock clock";
   grid-gap: 0px;
}

@media only screen and (max-width: 600px) {
   .main {
     display: inline-block;
   }
 }

.hide {
   display: none;
}

div.outdoorConditions {
   grid-area: outdoor;
}

div.indoorConditions {
   grid-area: indoor;
}

.temperature{
   font-size: 3.6em;
}

.temperature_plus {
   color: $temperature-plus-color;
}

.temperature_minus {
   color: $temperature-minus-color;
}

.weather_station_label, .weather_station_value {
   display:inline-block;
   line-height: 40px;
   padding-left: 20px;
   font-size: 1.4em;
}
.weather_station_value {
   color: $value-color;
   text-align: left;
}

.weather_station_label {
   color: $label-color;
}

.weather_autotext {
   color: $value-color;
   margin-top: 60px;
   margin-bottom: 10px;
   padding-left: 20px;
   font-size: 1.2em;
}


div.clock {
   grid-area: clock;
   text-align: right;
   justify-self: end;
   align-self: end;
   color: $value-color;
   height: 200px;
   margin-top: 13px;
   margin-right: 10px;

   span {
      font-size: 40px;
   }

   p {
      font-size: 20px;
      line-height: 0;
   }
}