@import './colors.scss';
@import './dimensions.scss';
@import '../components/LedPanel/LedPanel.scss';
@import '../components/KeyPanel/KeyPanel.scss';
@import '../components/Leds/Led.scss';
@import '../components/GarbagePlan/GarbagePlan.scss';
@import '../components/PowerConsumption/PowerConsumption.scss';
@import '../components/BottomPanel/BottomPanel.scss';

* {
   outline: none;
}
body {
   background-color: $app-bgcolor;
   font-family: Consolas, monaco, monospace;
}

.main {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr auto auto;
   grid-template-areas: 
      "outdoor outdoor outdoor powerConsumption powerConsumption powerConsumption keypanel"
      "indoor indoor indoor garbagePlan garbagePlan garbagePlan ledpanel"
      "bottomPanel bottomPanel bottomPanel bottomPanel bottomPanel bottomPanel bottomPanel";
   grid-gap: 0px;
   height: $window-height;
}

@media only screen and (max-width: 600px) {
   .main {
     display: inline-block;
   }
 }

.hide {
   display: none;
}

div.outdoorConditionsContainer {
   grid-area: outdoor;

   .outdoorConditions {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
   }
}

div.indoorConditionsContainer {
   grid-area: indoor;

   .indoorConditions {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
}


.temperature{
   font-size: 3.0em;
}

.temperature_plus {
   color: $temperature-plus-color;
}

.temperature_minus {
   color: $temperature-minus-color;
}

.weather_station_label, .weather_station_value {
   display:inline-block;
   line-height: 35px;
   padding-left: 5px;
   font-size: 1.3em;
   white-space: nowrap;
}
.weather_station_value {
   color: $value-color;
   text-align: left;
}

.weather_station_label {
   color: $label-color;
}

.weather_autotext {
   color: $value-color;
   margin-top: 10px;
   padding-left: 5px;
   font-size: 1.2em;
}

