@import './colors.scss';
@import './dimensions.scss';
@import '../components/LedPanel/LedPanel.scss';
@import '../components/KeyPanel/KeyPanel.scss';
@import '../components/Leds/Led.scss';
@import '../components/GarbagePlan/GarbagePlan.scss';
@import '../components/PowerConsumption/PowerConsumption.scss';
@import '../components/BottomPanel/BottomPanel.scss';
@import '../components//KeyPanel//LightScenes.css';

* {
   outline: none;
}
body {
   background-color: $app-bgcolor;
   font-family: Consolas, monaco, monospace;
   overflow: hidden;
}

.main {
   display: grid;
   grid-gap: 0px;
   height: $window-height;
}

@media (max-width: 899px) {
   .main { 
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
         "outdoor powerConsumption"
         "indoor  keypanel"
         "garbagePlan ledpanel"
         "bottomPanel bottomPanel";
   }
 }

@media (min-width: 900px) {
   .main { 
      grid-template-columns: 10% 20% 20% 20% 30%;
      grid-template-areas:
         "outdoor outdoor powerPrice powerPrice powerConsumption"
         "indoor indoor garbagePlan garbagePlan ledpanel"
         "bottomPanel bottomPanel bottomPanel bottomPanel bottomPanel";
   }
 }

.hide {
   display: none;
}

div.outdoorConditionsContainer {
   grid-area: outdoor;

   .outdoorConditions {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
   }
}

div.indoorConditionsContainer {
   grid-area: indoor;

   .indoorConditions {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
}


.temperature{
   font-size: 3.0em;
}

.temperature_plus {
   color: $temperature-plus-color;
}

.temperature_minus {
   color: $temperature-minus-color;
}

label, .value, label {
   display:inline-block;
   line-height: 35px;
   padding-left: 5px;
   font-size: 1.3em;
   white-space: nowrap;
}
.value {
   color: $value-color;
   text-align: left;
}

label {
   color: $label-color;
}

.weather_autotext {
   color: $value-color;
   margin-top: 10px;
   padding-left: 5px;
   font-size: 1.2em;
}

