@import './colors.scss';
.music_main {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr auto;

   .navButton {
      grid-column: 3;
    align-self: self-end;
   }
}

.music_info {
   grid-column: 1 / 2;
}

.music_control {
   grid-column: 3 / 3;
   padding: 10px;
   margin: 0, 20px;
   min-width: 400px;
}

.music_art {
   width: 150px;
   height: 150px;
}

.music_meta, .music_art {
   display: inline-block;
   vertical-align: top;
   padding: 10px 20px 10px 0;
}

.music_meta label {
   display: inline-block;
   width: 50px;
   color: lightslategray;
}

.music_meta .track, .music_meta .album {
   display: inline-block;
   color: $value-color;
   margin-left: 1.5em;
}

.radio_station, .artist {
   font-size: 1em;
   color: $value-color;
}

.media_buttons {
   background-color: rgba(215,215,215,0.1);
   border: solid 1px black;
   border-radius: 5px;
   padding: 10px;
   margin: 0;
   width: 342px;
}

.volume_slider {
   margin: 0;
   text-align: center;
   max-width: 200px;
   width: 120px;
   padding: 10px 0;
   display: inline-block;
   border: solid 1px black;
   border-radius: 5px;
   margin-right: -1px;
   margin-bottom: -1px;
   background-color: rgba(215,215,215,0.1);
}

.volume_slider p {
   color: lightslategray;
   font-size: 17px;
}

.music_system {
   font: bold 110px arial, sans-serif;
   background-color: #242424;
   color: transparent;
   text-shadow: 2px 2px 3px rgba(215,215,215,0.1);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   padding-left: 10px;
}

input[type="range"].volume_slider__vertical {
   cursor: pointer;
   -webkit-appearance: none;
   z-index: 200;
   width: 150px;
   height: 10px;
   margin: 80px -40px;
   box-shadow: inset 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(darkblue), to(#3071a9));
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   -webkit-transform:rotate(270deg);
   -moz-transform:rotate(270deg);
   -o-transform:rotate(270deg);
   -ms-transform:rotate(270deg);
   transform:rotate(270deg);
}

input[type="range"].volume_slider__vertical:focus {
   border: 0 !important;
   outline: none !important;
}

input[type="range"].volume_slider__vertical::-webkit-slider-thumb {
   -webkit-appearance: none;
   height: 50px;
   width: 30px;
   margin-bottom: -14px;
   cursor: pointer;
   margin-top: -14px;
   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
   background-color: #434343;
   background-image: -webkit-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
   background-image: -moz-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
   background-image: -o-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
   background-image: -ms-linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
   background-image: linear-gradient(100% 100% 90deg, #515151, #7A7A7A);
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#7A7A7A), to(#515151));
   border: none;
   border-top: 3px solid #c2c2c2;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   padding: 10px;
   text-shadow: 0 1px 0 rgba(255,255,255,0.2);
   margin-right: 10px;
   text-decoration: none;
   color: #242424;
   background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%), -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),                        -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),                        -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),                                                -webkit-repeating-radial-gradient(    50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),                        -webkit-repeating-radial-gradient(    50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),                        -webkit-repeating-radial-gradient(    50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%), -webkit-radial-gradient(    50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
}

.btnPlay, .btnPause, .btnForward, .btnBackward {
   border-radius: 50%;
   font: bold 75px arial, sans-serif;
   background-color: #242424;
   color: rgba(0, 153, 255, 1);
   text-shadow: -1px -1px 2px rgba(0,0,0,1);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
}

.btnPlay, .btnPause {
   width: 120px;
   height: 120px;
}

.btnForward, .btnBackward {
   width: 80px;
   height: 80px;
   line-height: 10px;
}

.btnPlay:hover, .btnPause:hover, .btnForward:hover, .btnBackward:hover {
   background:  linear-gradient(to bottom, #555555 0%, #333333 100%);
}

.btnPlay:active, .btnPause:active, .btnForward:active, .btnBackward:active {
   background-color: rgba(0, 153, 255, 0.5);
   font-size: 72px;
   box-shadow: 3px 1px 2px rgb(0, 153, 255), 0 2px 1px #666, inset 0 2px 1px rgba(0,0,0,0.5), inset 3px 1px 1px rgb(0, 153, 255);
}

.btnRadioStation {
   width: 200px;
   height: 70px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: contain;
   background-origin: content-box;
   background-color: dimgray;
}

.radio_nrkP13 {
   background-image: url('/images/radio_NRK_P13.png');

   &:active {
      background-image: url('/images/radio_NRK_P13.png');
      background-color: #2E5894;;
   }
}

.radio_nrkP3 {
   background-image: url('/images/radio_NRK_P3.png');

   &:active {
      background-image: url('/images/radio_NRK_P3.png');
      background-color: #2E5894;;
   }
}

.radio_nrkP1 {
   background-image: url('/images/radio_NRK_P1.png');

   &:active {
      background-image: url('/images/radio_NRK_P1.png');
      background-color: #2E5894;;
   }
}

.radio_P4 {
   background-image: url('/images/radio_P4.png');

   &:active {
      background-image: url('/images/radio_P4.png');
      background-color: #2E5894;;
   }
}