.music_main {

}

.music_art {
   padding-right: 10px;
   width: 150px;
   height: 150px;
}

.music_meta, .music_art {
   display: inline-block;
   vertical-align: top;
}
.music_meta label {
   display: inline-block;
   width: 50px;
   color: lightslategray;
}

.music_meta .track, .music_meta .album {
   display: inline-block;
   margin-left: 10px;
}

.radio_station, .artist {
   font-size: 20px;
}