.panel {
	height: fit-content;
    margin: 10px;

    .panel_title {
        text-align: center;
        font-size: 1.2em;
        margin: auto;
        color: #8d8b8b;
        text-shadow: 0px 1px 0px rgba(255,255,255,0.3), 0px -1px 0px rgba(0,0,0,0.7);
    }
}

img.bolt {
    position:absolute;
    margin:0;
    padding:5px;
    width: 20px;
}
img.bolt:nth-child(1) {
    top:0;
    left:0;    
}
img.bolt:nth-child(2) {
    top:0;
    right:0;
}
img.bolt:nth-child(3) {
    bottom:0;
    left:0;
}
img.bolt:nth-child(4) {
    bottom:0;
    right:0;
}


.raised_outer {
    position:relative;
    padding: 13px;
    border: 1px solid rgb(83,87,93);
    box-shadow: 2px 2px 3px 0 #000, -4px -4px 3px 0px silver;
    border-radius: 10px;
    background-color:  rgb(125 130 137 / 40%);
}

.raised_inner {
    box-shadow: inset 0px 0px 4px 0 #000;
    border: 1px solid rgb(185 191 199);
    border-radius: 10px;
    padding: 9px;
    margin: 11px;
}

.sunken {
    background-color: #b9b6b6;
    color: black;
    border-radius: 10px;
    box-shadow: inset 3px 3px 2px 0 #000, inset -3px -3px 2px 0 silver;
    padding: 7px 7px;
}