div.keyPanelContainer {
    grid-area: keypanel;
 
    .keyPanel {
       display: grid;
       grid-gap: 10px;
       align-items: center;
    }

    @media (max-width: 1199px) {
      .keyPanel {
         grid-template-columns: repeat(1, 1fr);
      }
    }
    @media (min-width: 1200px) {
      .keyPanel {
         grid-template-columns: repeat(2, 1fr);
      }
    }
 }