div.lightScenes {
    position: absolute;
    top: -246px;
    right: 126px;
    overflow-y: hidden;
	transition: all .8s ease-out;
}

div.lightScenes .panel {
    background-color: rgba(85, 90, 93, 1);
}

div.lightScenes .raised_inner {
    display: grid;
}

div.lightScenes.hidden {
    top: 150%;
    animation: hideAnimation 0s ease-in 1s;
    animation-fill-mode: forwards;
}

@keyframes hideAnimation {
    to {
      visibility: hidden;
      width: 0;
      height: 0;
    }
}

.closePopupPanel {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 1px 3px black);
}